<!-- confirm.html.erb -->

<h1>予約確認画面</h1>
<p>ご予約日: <%= @formatted_date %></p>
<p>ご予約時間: <%= @start_time %></p>




<p>選択した商品:</p>
<table>
  <thead>
    <tr>
      <th>メニュー</th>
      <th>金額</th>
    </tr>
  </thead>
  <tbody>
    <% @selected_products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with model: @reservation, url: reservations_path do |form| %>
  <!-- 他のフォームの内容 -->
  <p>合計金額: <%= number_to_currency(@total_price,precision:0,unit:"" ) %>円</p>
  <p>☆金額はボリューム等によって増額する場合がございます☆</p>

  <%= form.submit "予約する" %>
<% end %>
