<h1>ご予約画面</h1>

<%= form_with model: @reservation, url: reservations_path do |form| %>

  
  <p>ご予約日: <%= @formatted_date %></p>

  <p>ご予約時間: <%= params[:start_time] %></p>

  <table>
    <thead>
      <tr>
        <th style="width: 100px; text-align: center;">チェック</th>
        <th style="text-align: center;">メニュー</th>
        <th style="width: 100px; text-align: center;">金額</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td style="width: 100px; text-align: center; vertical-align: middle;">
            <%= form.check_box :product_ids, { multiple: true, class: 'checkbox' }, product.id, nil %>
          </td>
          <td style="text-align: center; vertical-align: middle;"><%= product.name %></td>
          <td style="width: 100px; text-align: center; vertical-align: middle;"><%= product.price %>円</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <style>
    .checkbox {
      transform: scale(2);
    }
  </style>

  <%= form.hidden_field :date, value: params[:date] %>

  <%= form.submit "予約する" %>

<% end %>
