<h1>空席確認・予約する</h1>

<h>Welcome, <%= @firstname %> <%= @lastname %> 様</h1>
<h3>＜ご予約したい日時を選択してください。＞</h3>
<div class="current-month-container">
  <h2 class="current-month"><%= @current_month.strftime("%Y年%m月") %></h2>
</div>


<div class="navigation">
  <%= link_to '前月', calendars_path(month: @current_month.prev_month, firstname: params[:firstname], lastname: params[:lastname]), class: 'prev-month' %>
  <%= link_to '当月', calendars_path(month: Date.today.month, firstname: params[:firstname], lastname: params[:lastname]), class: 'current-month' %>
  <div class="next-month">
    <%= link_to '翌月', calendars_path(month: @current_month.next_month, firstname: params[:firstname], lastname: params[:lastname]) %>
  </div>
</div>


<style>
  .navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .current-month-container {
    display: flex;
    #justify-content: center;
  }

  .current-month {
    margin: 0;
  }

  .holiday-row td {
    background-color: yellow;
  }

  .holiday-cell {
    background-color: yellow;
    color: black;
  }

  .holiday-name {
    background-color: purple;
    color: white;
    margin-bottom: 5px;
  }

  .holiday-description {
    color: black;
  }

  .today-cell {
    background-color: #FFFFCC;
  }
</style>
<table>
  <tr>
    <th>日</th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
  </tr>

  <% @weeks.each do |week| %>
    <% holiday_row = week.any? { |day| day && weekend_or_holiday?(day[:date]) } %>
    <tr <%= 'class="holiday-row"' if holiday_row %>>
      <% week.each do |day| %>
        <% if day.nil? %>
          <td></td>
        <% else %>
          <% cell_classes = []
             cell_classes << 'today-cell' if day[:date] == Date.today %>
          <td class="<%= cell_classes.join(' ') %>">
            <% if day[:date].is_a?(Date) %>
              <div style="text-align: left;"><%= day[:date].day %></div>
              <% day[:holidays].each do |holiday| %>
                <div class="holiday-name"><%= holiday %></div>
              <% end %>
              <% if weekend_or_holiday?(day[:date]) %>
                <div class="<%= 'holiday-cell' if weekend_or_holiday?(day[:date]) %>">お休み</div>
              <% end %>
              <% day[:events].each do |event| %>
                <div class="holiday-description" style="text-align: center;">
                  <% if day[:date] > Date.today %>
                  <%= link_to event[:start_time] + ' - ' + event[:end_time], new_reservation_path(date: day[:date], start_time: event[:start_time], end_time: event[:end_time]), data: { date: day[:date].strftime("%Y-%m-%d %H:%M"), event_string: event[:start_time] + ' - ' + event[:end_time] } %>
                                    <% else %>
                    <%= event[:start_time] + ' - ' + event[:end_time] %>
                  <% end %>
                </div>
              <% end %>
                                        <% else %>
              <div style="text-align: center;"><%= day[:date] %></div>
              <% day[:events].each do |event| %>
                <div style="text-align: center;"><%= event %></div>
              <% end %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
